<svg>
    <circle *ngFor="let circle of this.reqService.circles; let i = index" 
    (focus)="selectObject(i)" 
    (keydown.delete)="deleteObject(i)" 
    [attr.cx]="circle.x" 
    [attr.cy]="circle.y" 
    [attr.r]="circle.radius" 
    [attr.fill]="circle.color" 
    stroke="black"
    strokeWidth="3"
    [cdkDragDisabled] = 'dragFlag'
    cdkDrag
    appMyResize
    [resizeFlag]="resizeFlag"
    [(r)] = circle.radius
    [mouseX]="mouseX"
    [mouseY]="mouseY"
    [isMouseDown] = 'isMouseDown'
    >
</circle>
</svg>
