<svg>
    <rect *ngFor="let rectangle of rectangles; let i = index" 
        (focus)="selectObject(i)" 
        (keydown.delete)="deleteObject(i)" 
        [attr.x]="rectangle.x" 
        [attr.y]="rectangle.y" 
        [attr.width]="rectangle.width" 
        [attr.height]="rectangle.height" 
        [attr.fill]="rectangle.color" 

         
        appBoxResize
        [(width)]="rectangle.width"
        [(height)]="rectangle.height"
        [mouseX]="mouseX"
        [mouseY]="mouseY"
        [isMouseDown]="isMouseDown">
    </rect>

</svg>