
app-nav-bar{
  width: 100%;
  height: 30%;
}
.flex{
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* app-drawing-space{width: 80%} */
app-draw{width: 80%}
app-side-bar{width: 20%}
