<svg>
    <rect *ngFor="let square of squares; let i = index" 
        (focus)="selectObject(i)" 
        (keydown.delete)="deleteObject(i)" 
        [attr.x]="square.x" 
        [attr.y]="square.y" 
        [attr.width]="square.sideLength" 
        [attr.height]="square.sideLength" 
        [attr.fill]="square.color" 
        cdkDrag
        appBoxResize
        [(width)]="square.sideLength"
        [(height)]="square.sideLength"
        [mouseX]="mouseX"
        [mouseY]="mouseY"
        [isMouseDown]="isMouseDown"
    />
</svg>