.gooey-menu,
.gooey-menu *,
.gooey-menu *:before,
.gooey-menu *:after {
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.gooey-menu {
  position: relative;
  float: left;
  filter: url("#goo");
  -webkit-filter: url("#goo");
}

.gooey-menu svg{
  width: 2em;
  height: 2em;
  fill: #DDD;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 75;
  transition: box-shadow .3s ease-in-out;
}

.gooey-menu .button {
  position: relative;
  float: left;
  margin: 10px;
  height: 60px;
  padding: 5px;
  width: 60px;
  border-radius: 100%;
  background: rgb(20,20,20);
  background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(34,34,34,1) 47%, rgb(44, 44, 44) 100%);
  cursor: pointer;
  box-sizing: border-box;
  background-position:center;
  background-size:contain;
  z-index:10;
}

.gooey-menu .button:not(:first-child) {
  position:absolute;
  top:30px;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0.5;
  border-width:0;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.gooey-menu .button:nth-child(3) {
  z-index:3;
  transition: all 0.5s ease;
  /*-webkit-transition: all 0.6s, border-color 0.3s;*/
}
.gooey-menu .button:nth-child(4) {
  z-index:2;
  transition: all 0.5s ease;
  /*-webkit-transition: all 1.2s, border-color 0.3s;*/
}
.gooey-menu .button:nth-child(5) {
  z-index:1;
  transition: all 0.5s ease 0.3s;
  /*-webkit-transition: all 1.8s, border-color 0.3s;*/
}
.gooey-menu .button:nth-child(6) {
  z-index:1;
  transition: all 0.5s ease 0.3s;
  /*-webkit-transition: all 1.8s, border-color 0.3s;*/
}

.gooey-menu .button .burger {
  position:absolute;
  top:calc(50% - 2px);
  left:calc(50% - 15px);
  height:4px;
  width:30px;
  border-radius:0.15em;
  background:#eee;
  z-index:10;
}
.gooey-menu .button .burger:before,
.gooey-menu .button .burger:after {
  content:'';
  position:absolute;
  height:4px;
  width:30px;
  border-radius:0.15em;
  background:#eee;
  z-index:10;
}
.gooey-menu .button .burger:before {
  top:calc(50% - 10px);
}
.gooey-menu .button .burger:after {
  top:calc(50% + 6px);
}

.gooey-menu #active:checked ~ label .button .burger {
  top:50%;
  height:0;
}
.gooey-menu #active:checked ~ label .button .burger:before,
.gooey-menu #active:checked ~ label .button .burger:after {
  top:calc(50% - 2px);
}
.gooey-menu #active:checked ~ label .button .burger:before {
  transform:rotate(-225deg);
  -webkit-transform:rotate(-225deg);
}
.gooey-menu #active:checked ~ label .button .burger:after {
  transform:rotate(225deg);
  -webkit-transform:rotate(225deg);
}

.gooey-menu #active:checked ~ .button:not(:first-child) {
  top:0;
  left: 49%;
  height: 60px;
  width: 60px;
  border-width: 2px;
  opacity: 1;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

.gooey-menu #active:checked ~ .button:nth-child(3) {
  left: 80px;
}

.gooey-menu #active:checked ~ .button:nth-child(4) {
  left: -80px;
}

.gooey-menu #active:checked ~ .button:nth-child(5) {
  left: 150px;
}

.gooey-menu #active:checked ~ .button:nth-child(6) {
  left: -150px;
}


/*--------------------------------- Start top Menu -----------------------------------*/

.navbar{
  top: 0;
  left: 47%;
  position: fixed;
  z-index: 99999;
  box-sizing: border-box;
  transition: .8s ease-in-out;
}

/*--------------------------------- Start Help Guide -----------------------------------*/

#help{
  position:absolute;
  top: 0;left: -490vh;
  bottom: 0;right: 0;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 1000vh;height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  visibility: hidden;
  transition: .3s ease-in-out;
}

#help .slideshow-container img{
  margin: 10px 0;
  padding: 10px;
}


#help button {
  background-color: #000;
  color: white;
  border-radius: 15px;
  transition: .3s ease-in-out;
  padding: 5px 20px;
  font-size: 20px;
}


#help .slideshow-container{
  overflow: auto;
  background-color: #446b8242;
  width: 844px;
  height: 500px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #81b4f5;

}

#help button:hover {
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff !important;
  transform: translate3d(0, -.6em , 0);
  color: #333;
}



















/*.navbar .block{*/
/*  background: #DDDDDD;*/
/*  text-align: center;*/
/*  width: 30%;*/
/*  height: 100%;*/
/*  padding: 10px;*/
/*  box-sizing: border-box;*/
/*  align-items: center;*/
/*  display: grid;*/
/*  grid-column-gap: 5%;*/
/*  grid-template-areas: 'menu 1';*/
/*  !*grid-template-columns: auto auto;*!*/
/*  border-left: 5px solid #0077ff;*/

/*}*/
/*.navbar .block.home{*/
/*  width: 50%;*/

/*}*/
/*.navbar .block .menu{*/
/*  text-align: center;*/
/*  box-sizing: border-box;*/

/*}*/
/*.navbar .block i.menu,*/
/*.navbar .block mat-slide-toggle{*/
/*  grid-area: menu;*/
/*  font-size: 60px;*/
/*}*/
/*.navbar .block .grid{*/
/*  grid-area: 1;*/
/*  height: 100%;*/
/*  padding: 5px 0;*/
/*  overflow: auto;*/
/*  box-sizing: border-box;*/
/*  max-height: 100%;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  grid-gap: 6px;*/


/*}*/
/*.navbar .block i{*/
/*  padding: 7px;*/
/*  color: #333;*/
/*  user-select: none;*/
/*  background-color: #f3f3f3;*/
/*  background-image: linear-gradient(rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 40%,rgba(111,111,111,.1) 100%);*/
/*  border: none;*/
/*  border-radius: 3px;*/
/*  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 1px rgb(0 0 0 / 10%), 0 2px 3px rgb(0 0 0 / 5%);*/
/*  box-sizing: border-box;*/
/*  text-align: center;*/
/*  transition: all 20ms ease-in-out;*/

/*}*/
/*.navbar .block i:active,*/
/*.navbar .block i.active{*/
/*  background-color: #ddd;*/
/*  box-shadow: inset 2px 2px 10px rgb(0 0 0 / 20%), 0 2px 2px #ddd;*/

/*}*/
/*.navbar .block i span{*/
/*  margin: 0 10px ;*/
/*  text-align: center;*/
/*  font-size: 80%;*/

/*}*/
/*.navbar .block .grid.two-btns{*/
/*  grid-gap: 40px;*/

/*}*/
/*.navbar .block.file .grid i{*/
/*  padding: 7px;*/
/*  width: 100%;*/

/*}*/
/*.navbar .block.home .grid i{*/
/*  padding: 7px;*/
/*  width: 100%;*/

/*}*/
/*.navbar .block.draw .grid i{*/
/*  width:40px;*/
/*  height: 40px;*/

/*}*/
/*.navbar .block.style .grid i{*/
/*  padding: 5px;*/
/*  width: 35px;*/
/*  height: 35px;*/

/*}*/
/*.navbar .block input[type="color"]{*/
/*  background: transparent;*/
/*  outline: none;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border: 2px dashed #837dff;*/
/*}*/
/*.navbar .mat-tab-body-content {*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*  box-sizing: border-box;*/
/*  transition: .3s ease-in-out;*/

/*}*/
/*.navbar .mat-tab-labels{*/
/*  justify-content: center;*/
/*  border-bottom: 3px solid #111111;*/

/*}*/
/*.navbar .mat-tab-label{*/
/*  outline: none;*/
/*  transition: all 10ms ease-in-out;*/

/*}*/
/*.navbar .mat-ink-bar{*/
/*  width: 50%;*/
/*  height: 4px;*/

/*}*/
/*.navbar .mat-tab-label:active{*/
/*  color: #000;*/

/*  box-shadow: inset 2px 2px 10px rgb(0 0 0 / 20%), 0 2px 2px #ddd;*/

/*}*/
