<mat-tab-group fitinkbartocontent="SS" class="navbar"
               animationDuration="500ms"
               [backgroundColor]="" [color]="">
  <mat-tab label="View">
    <div class="block select">
      <i class="menu fa fa-arrows fa-4x"></i>
      <div class="grid">
        <i class="fa fa-scissors fa-2x"><span>Cut</span></i>
        <i class="fa fa-clone fa-2x"><span>Clone</span></i>
      </div>
      <div class="grid">
        <i class="fa fa-trash-o fa-2x"><span>Delete</span></i>
        <i class="fa fa-clone fa-2x"><span>Duplicate</span></i>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="tab" label="Shapes">
    <div class="block shapes">
      <i class="menu fa fa-paint-brush fa-2x"></i>
      <div class="grid">
        <i class="one fa fa-circle fa-2x"></i>
        <i class="one fa fa-flash fa-2x"></i>
        <i class="one fa fa-moon-o fa-2x"></i>
        <i class="one fa fa-moon-o fa-2x"></i>
        <i class="two fa fa-arrow-up fa-2x"></i>
        <i class="two fa fa-arrow-down fa-2x"></i>
        <i class="two fa fa-square fa-2x"></i>
        <i class="two fa fa-square fa-2x"></i>
        <i class="three fa fa-arrow-up fa-2x"></i>
        <i class="three fa fa-arrow-down fa-2x"></i>
        <i class="three fa fa-square fa-2x"></i>
        <i class="three fa fa-square fa-2x"></i><i class="one fa fa-circle fa-2x"></i>
        <i class="one fa fa-flash fa-2x"></i>
        <i class="one fa fa-moon-o fa-2x"></i>
        <i class="one fa fa-moon-o fa-2x"></i>
        <i class="two fa fa-arrow-up fa-2x"></i>
        <i class="two fa fa-arrow-down fa-2x"></i>
        <i class="two fa fa-square fa-2x"></i>
        <i class="two fa fa-square fa-2x"></i>
        <i class="three fa fa-arrow-up fa-2x"></i>
        <i class="three fa fa-arrow-down fa-2x"></i>
        <i class="three fa fa-square fa-2x"></i>
        <i class="three fa fa-square fa-2x"></i>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Style">
    <div class="block style">
      <i class="menu fa fa-eyedropper fa-2x"></i>
      <div class="grid">
        <input type="color" value="#C0EEE4">
        <input type="color" value="#F8F988">
        <input type="color" value="#FFCAC8">
        <input type="color" value="#FF9E9E">
        <input type="color" value="#453C67">
        <input type="color" value="#6D67E4">
        <input type="color" value="#46C2CB">
        <input type="color" value="#F2F7A1">
        <input type="color" value="#CE7777">
        <input type="color" value="#CE7777">
        <input type="color" value="#68B984">
        <input type="color" value="#3D5656">
        <input type="color" value="#CFFDE1">
        <input type="color" value="#FED049">
        <input type="color" value="#C0EEE4">
        <input type="color" value="#F8F988">
        <input type="color" value="#FFCAC8">
        <input type="color" value="#FF9E9E">
        <input type="color" value="#453C67">
        <input type="color" value="#6D67E4">
        <input type="color" value="#46C2CB">
        <input type="color" value="#F2F7A1">
        <input type="color" value="#CE7777">
        <input type="color" value="#CE7777">
        <input type="color" value="#68B984">
        <input type="color" value="#3D5656">
        <input type="color" value="#CFFDE1">
        <input type="color" value="#FED049">
        <i class="three fa fa-plus fa-2x"></i>
      </div>
    </div>

    <div class="block style">
      <i class="menu fa fa-eyedropper fa-2x"></i>
      <div class="grid">
        <input type="color" value="#C0EEE4">
        <input type="color" value="#F8F988">
        <input type="color" value="#FFCAC8">
        <input type="color" value="#FF9E9E">
        <input type="color" value="#453C67">
        <input type="color" value="#6D67E4">
        <input type="color" value="#46C2CB">
        <input type="color" value="#F2F7A1">
        <input type="color" value="#CE7777">
        <input type="color" value="#CE7777">
        <input type="color" value="#68B984">
        <input type="color" value="#3D5656">
        <input type="color" value="#CFFDE1">
        <input type="color" value="#FED049">
        <input type="color" value="#C0EEE4">
        <input type="color" value="#F8F988">
        <input type="color" value="#FFCAC8">
        <input type="color" value="#FF9E9E">
        <input type="color" value="#453C67">
        <input type="color" value="#6D67E4">
        <input type="color" value="#46C2CB">
        <input type="color" value="#F2F7A1">
        <input type="color" value="#CE7777">
        <input type="color" value="#CE7777">
        <input type="color" value="#68B984">
        <input type="color" value="#3D5656">
        <input type="color" value="#CFFDE1">
        <input type="color" value="#FED049">
        <i class="three fa fa-plus fa-2x"></i>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Help">
    <div class="block style">
      <i class="menu fa fa-eyedropper fa-2x"></i>
      <div class="grid">
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
        <p>This Tab is useless i just added it on my teammates demand<br></p>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Disabled" disabled>
    <div class="block style">
      <i class="menu fa fa-eyedropper fa-2x"></i>
      <div class="grid">
        <input type="color" value="#C0EEE4">
        <input type="color" value="#F8F988">
        <input type="color" value="#FFCAC8">
        <input type="color" value="#FF9E9E">
        <input type="color" value="#453C67">
        <input type="color" value="#6D67E4">
        <input type="color" value="#46C2CB">
        <input type="color" value="#F2F7A1">
        <input type="color" value="#CE7777">
        <input type="color" value="#CE7777">
        <input type="color" value="#68B984">
        <input type="color" value="#3D5656">
        <input type="color" value="#CFFDE1">
        <input type="color" value="#FED049">
        <i class="three fa fa-plus fa-2x"></i>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>







<!--Start Navbar-->

<!--<div class="navbar">-->

<!--  <div class="block select">-->
<!--    <i class="menu fa fa-arrows fa-4x"></i>-->
<!--    <div class="grid">-->
<!--      <i class="fa fa-scissors fa-2x"><span>Cut</span></i>-->
<!--      <i class="fa fa-clone fa-2x"><span>Copy</span></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="block shapes">-->
<!--    <i class="menu fa fa-paint-brush fa-2x"></i>-->
<!--    <div class="grid">-->
<!--      <i class="one fa fa-circle fa-2x"></i>-->
<!--      <i class="one fa fa-flash fa-2x"></i>-->
<!--      <i class="one fa fa-moon-o fa-2x"></i>-->
<!--      <i class="one fa fa-moon-o fa-2x"></i>-->
<!--      <i class="two fa fa-arrow-up fa-2x"></i>-->
<!--      <i class="two fa fa-arrow-down fa-2x"></i>-->
<!--      <i class="two fa fa-square fa-2x"></i>-->
<!--      <i class="two fa fa-square fa-2x"></i>-->
<!--      <i class="three fa fa-arrow-up fa-2x"></i>-->
<!--      <i class="three fa fa-arrow-down fa-2x"></i>-->
<!--      <i class="three fa fa-square fa-2x"></i>-->
<!--      <i class="three fa fa-square fa-2x"></i><i class="one fa fa-circle fa-2x"></i>-->
<!--      <i class="one fa fa-flash fa-2x"></i>-->
<!--      <i class="one fa fa-moon-o fa-2x"></i>-->
<!--      <i class="one fa fa-moon-o fa-2x"></i>-->
<!--      <i class="two fa fa-arrow-up fa-2x"></i>-->
<!--      <i class="two fa fa-arrow-down fa-2x"></i>-->
<!--      <i class="two fa fa-square fa-2x"></i>-->
<!--      <i class="two fa fa-square fa-2x"></i>-->
<!--      <i class="three fa fa-arrow-up fa-2x"></i>-->
<!--      <i class="three fa fa-arrow-down fa-2x"></i>-->
<!--      <i class="three fa fa-square fa-2x"></i>-->
<!--      <i class="three fa fa-square fa-2x"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="block style">-->
<!--    <i class="menu fa fa-eyedropper fa-2x"></i>-->
<!--    <div class="grid">-->
<!--      <input type="color" value="#C0EEE4">-->
<!--      <input type="color" value="#F8F988">-->
<!--      <input type="color" value="#FFCAC8">-->
<!--      <input type="color" value="#FF9E9E">-->
<!--      <input type="color" value="#453C67">-->
<!--      <input type="color" value="#6D67E4">-->
<!--      <input type="color" value="#46C2CB">-->
<!--      <input type="color" value="#F2F7A1">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#68B984">-->
<!--      <input type="color" value="#3D5656">-->
<!--      <input type="color" value="#CFFDE1">-->
<!--      <input type="color" value="#FED049">-->
<!--      <input type="color" value="#C0EEE4">-->
<!--      <input type="color" value="#F8F988">-->
<!--      <input type="color" value="#FFCAC8">-->
<!--      <input type="color" value="#FF9E9E">-->
<!--      <input type="color" value="#453C67">-->
<!--      <input type="color" value="#6D67E4">-->
<!--      <input type="color" value="#46C2CB">-->
<!--      <input type="color" value="#F2F7A1">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#68B984">-->
<!--      <input type="color" value="#3D5656">-->
<!--      <input type="color" value="#CFFDE1">-->
<!--      <input type="color" value="#FED049">-->
<!--      <i class="three fa fa-plus fa-2x"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="block style">-->
<!--    <i class="menu fa fa-eyedropper fa-2x"></i>-->
<!--    <div class="grid">-->
<!--      <input type="color" value="#C0EEE4">-->
<!--      <input type="color" value="#F8F988">-->
<!--      <input type="color" value="#FFCAC8">-->
<!--      <input type="color" value="#FF9E9E">-->
<!--      <input type="color" value="#453C67">-->
<!--      <input type="color" value="#6D67E4">-->
<!--      <input type="color" value="#46C2CB">-->
<!--      <input type="color" value="#F2F7A1">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#CE7777">-->
<!--      <input type="color" value="#68B984">-->
<!--      <input type="color" value="#3D5656">-->
<!--      <input type="color" value="#CFFDE1">-->
<!--      <input type="color" value="#FED049">-->
<!--      <i class="three fa fa-plus fa-2x"></i>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->

<!--End Navbar-->

