/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;

}
/* *{
    -webkit-transition: 10ms;
    transition: 100ms;
    -webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
} */

svg {
    height: 100%;
    width: 100%;
    background-color: grey;
    border: 2px solid green;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
